<div class="footer">
	<div class="content">
		<div class="footer_content">
			<h2>Contact</h2>
			<div class="content_float"><strong>Internal:</strong></div>
                <div class="content_float">85050</div>
                <div class="clear"></div>
                <div class="content_float"><strong>External:</strong></div>
                <div class="content_float">0131 536 5050</div>
            </div>
            <div class="footer_content">
                <h2>Find Us</h2>
                eHealth Service Desk<br />
                2nd Floor<br />
                St. John's Hospital<br />
                Livingston<br />
                EH54 6PP
            </div>
            <div class="footer_content"> 
                <h2>Services</h2>
                <a href="Default.html">Home</a><br />
				<a href="LogACall.html">Log a Call</a><br />
                <a href="http://assyst/assystnet/application.jsp#eventMonitor/4">Track a Call</a><br />                
                <a href="FAQ.html">FAQ</a><br />
				<a href="status.aspx" style="display: none;">Service Disruptions</a>
            </div>
            <div class="footer_content">
                <h2>&nbsp;</h2> <!--only for a blank space-->
				<a href="SupportForManagers.html">Support For Managers</a><br />
				<a href="http://assyst/assystnet/#services/1">Request Equipment</a><br />
                <a href="ITSecurity.html">IT Security</a><br />
				<a href="Ricoh.html">Ricoh Printers</a><br />
				<a href="MeetTheTeam.html">Meet The Team</a>
            </div>
        </div>
    </div>