<!-- <p> 
  {{ HomeComponent }}
</p> -->
<!-- 
<p>
	e85050 is the Service Desk information page designed to allow you quick access to eHealth support, guidance and advice.<br />
  Including: policies, forms, frequently asked questions, and video training.<br/>
  If you require additional information or advice on the content of e85050, or any other IT related issue, please contact us.
</p> -->

<div class="top_menu_center">
	<a href="LogACall.html">
		<div class="blue_box">
			<h2>Log a Call</h2>
		</div>
	</a>
	<a href="http://assyst/assystnet/application.jsp#eventMonitor/4">
		<div class="blue_box">
			<h2>Track a Call</h2>
		</div>
	</a>
	<a href="Status.aspx" style="display: none;">
		<div class="blue_box">
			<h2>Service Disruptions</h2>
		</div>
	</a>
	<a href="FAQ.html">
		<div class="blue_box">
			<h2>FAQ</h2>
		</div>
	</a>
	<a href="SupportForManagers.html">
		<div class="blue_box">
			<h2>Support For Managers</h2>
		</div>
	</a>
	<a href="ITSecurity.html">
		<div class="blue_box">
			<h2>IT Security</h2>
		</div>
	</a>
	<a href="Ricoh.html">
		<div class="blue_box">
			<h2>Ricoh Printer</h2>
		</div>
	</a>
	<a href="http://assyst/assystnet/#services/1">
		<div class="blue_box">
			<h2>Request Equipment</h2>
		</div>
	</a>
</div>

<div class="break_40"></div>

<div class="top_menu_center">
	<!-- This is the area that loads the current IT issues -->
	<div id="text"></div>
  
<div class="break_40"></div>