<div id="top_bar">
	<ul>
		<li><a href="http://home.lothian.scot.nhs.uk/">NHS Lothian Intranet</a></li>
	</ul>
</div>

<div class="content">
	<h1>NHS Lothian e85050 Service Desk</h1>
        <div id="top_menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Log a Call</a></li>
                <li><a href="http://assyst/assystnet/application.jsp#eventMonitor/4" target="_blank">Track a Call</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Support For Managers</a></li>
                <li><a href="#">IT Security</a></li>
                <li><a href="#">Ricoh Printers</a></li>
				        <li><a href="#">Feedback</a></li>
            </ul>
        </div> 