/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2D5E9A;
}  */

h1 {
font-weight: bold
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 2px;
  text-decoration: none;
}

/* Change the link color to #111 (Assyst Purple) on hover */
/* li a:hover {
  background-color: #1D1060; 
} */