<div id="top_bar">
	<ul>
		<li><a href="http://home.lothian.scot.nhs.uk/">NHS Lothian Intranet</a></li>
	</ul>
</div>

<div class="content">
	<h1><strong>NHS Lothian</strong> e85050 Service Desk</h1>
        <div id="top_menu">
            <ul>
                <li><a href="Default.html">Home</a></li>
                <li><a href="LogACall.html">Log a Call</a></li>
                <li><a href="http://assyst/assystnet/application.jsp#eventMonitor/4" target="_blank">Track a Call</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
                <li><a href="SupportForManagers.html">Support For Managers</a></li>
                <li><a href="ITSecurity.html">IT Security</a></li>
                <li><a href="Ricoh.html">Ricoh Printers</a></li>
				        <li><a href="Feedback.html">Feedback</a></li>
            </ul>
        </div>